# This file will be used by the web server to redirect all requests to the index.php file
# This will let us use the backend like a REST API and call specific endpoints

RewriteEngine On
RewriteBase /neolearn-backend/

# Route all requests to index.php except existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
